@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .top-to-bottom-gradient {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-weight-light {
  font-family: var(--font-geist-sans), system-ui, sans-serif;
  font-weight: 300;
}

.image-animation1 {
  animation: move 3s infinite ease alternate;
}

@keyframes move {
  from {
    transform: translateY(-15px);
  }

  to {
    transform: translateY(0px) scale(1.03);
  }
}

.image-animation2 {
  animation: move 3s infinite ease alternate;
}

@keyframes move {
  from {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(10px);
  }
}